.e_IndexOrdinaryStyleBox-001 {
    width: 100%;
    height: auto;
    /* width-uint: % */
}

.e_IndexOrdinaryStyleBox-001 .stylebox_top {
    background-color: transparent
}

.e_IndexOrdinaryStyleBox-001 .stylebox_link {
    color: #666;
    font-size: 14px;
    display: table;
    height: inherit;
    border-width: 0
}

.e_IndexOrdinaryStyleBox-001 .stylebox_link:hover {
    color: rgba(101, 190, 186, 1)
}

.e_IndexOrdinaryStyleBox-001 .stylebox_link:active {
    color: rgba(101, 190, 186, 1)
}

.e_IndexOrdinaryStyleBox-001 .stylebox_top {
    width: auto;
    height: 40px
}

.e_IndexOrdinaryStyleBox-001 .title_icon {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
    margin-right: 10px;
    font-size: medium
}

.e_IndexOrdinaryStyleBox-001 .title_icon::before {
    content: ""
}

.e_IndexOrdinaryStyleBox-001 .title_main {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 16px;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.e_IndexOrdinaryStyleBox-001 .title_sub {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px
}

.e_IndexOrdinaryStyleBox-001 .stylebox_title {
    display: inline-block;
    width: auto;
    height: inherit;
    background-color: rgba(101, 190, 186, 1);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0;
    vertical-align: bottom;
    white-space: nowrap
}

.e_IndexOrdinaryStyleBox-001 .stylebox_link {
    float: right;
    vertical-align: middle;
    margin-right: 15px
}

.e_IndexOrdinaryStyleBox-001 .stylebox_link a {
    color: inherit;
    display: table-cell;
    vertical-align: middle
}

.e_IndexOrdinaryStyleBox-001 .link_icon {
    display: inline-block;
    margin-left: 5px
}

.e_IndexOrdinaryStyleBox-001 .link_icon::before {
    content: '\e6af'
}

.e_IndexOrdinaryStyleBox-001 .stylebox_top_line {
    height: 1px;
    background-color: rgba(240, 240, 240, 1)
}

.e_IndexOrdinaryStyleBox-001 .stylebox_content {
    border-style: solid;
    border-width: 1px;
    border-color: #f0f0f0;
    width: 100%;
    height: calc(100% - 48px);
    width-uint: %
}

.e_IndexOrdinaryStyleBox-001 .stylebox_bottom_line {
    height: 1px;
    background-color: rgba(240, 240, 240, 1)
}

.w_img-001 .p_title {
    display: inline-table;
    margin: 0;
    min-width: 37px;
    padding: 0;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer
}

.w_img-001 .p_title .font {
    vertical-align: middle;
    line-height: 21px
}

.w_img-001 .p_title:hover {
    color: rgba(87, 177, 173, 1)
}

.w_img-001 .p_title:active {
    color: rgba(69, 165, 161, 1)
}

.w_img-001 .p_title .iconfont:before {
    display: inline-block;
    content: ""
}

.w_img-001 .p_dimage {
    padding: 0;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    background-color: transparent;
    overflow: hidden
}

.w_img-001 .p_dimage:hover {
    border-width: 0px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    background-color: transparent
}

.w_img-001 .p_dimage:active {
    border-width: 0px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    background-color: transparent
}

.e_title.w_img-001 .p_link002 {
    display: inline-block;
    padding: 0;
    color: #707070;
    font-size: 14px;
    text-align: left
}

.e_title.w_img-001 .p_link002 {
    white-space: nowrap;
    vertical-align: middle;
    line-height: 19px
}

a>.e_title.w_img-001 .p_link002:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: #60a9d7
}

a>.e_title.w_img-001 .p_link002:active {
    color: #60a9d7;
    font-weight: 400
}

a>.e_title.w_img-001 .p_link002:active {
    text-decoration: none;
    margin-top: 0
}

.e_title.w_img-001 .p_link002 .iconfont:before {
    display: inline-block;
    content: ""
}

.e_title.w_img-001 .p_link001 {
    display: inline-block;
    padding: 0;
    color: #707070;
    font-size: 14px;
    text-align: left
}

.e_title.w_img-001 .p_link001 {
    white-space: nowrap;
    vertical-align: middle;
    line-height: 19px
}

a>.e_title.w_img-001 .p_link001:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: #60a9d7
}

a>.e_title.w_img-001 .p_link001:active {
    color: #60a9d7;
    font-weight: 400
}

a>.e_title.w_img-001 .p_link001:active {
    text-decoration: none;
    margin-top: 0
}

.e_title.w_img-001 .p_link001 .iconfont:before {
    display: inline-block;
    content: ""
}

.w_img-001 .p_box {
    margin: 0;
    width: 236px;
    height: 317px;
    padding: 0;
    border-width: 1px;
    border-style: none;
    border-color: rgba(228, 228, 228, 0);
    background-color: transparent;
    overflow: hidden
}

.w_img-001 {
    position: absolute;
    width: 280px;
    height: 250px
}

.w_img-001 .animated {
    width: 100%;
    height: 100%
}

.w_img-001 .font {
    white-space: nowrap
}

.w_img-001 .p_link001 {
    width: 100%;
    height: calc(100%)
}

.w_img-001 .p_link002 {
    width: 100%;
    height: 30px
}

.w_img-001 .p_box {
    width: 100%;
    height: 100%;
    text-align: center
}

.w_img-001 .p_dimage {
    height: inherit;
    overflow: hidden;
    font-size: 0
}

.w_img-001 .e_image:hover:after {
    background: transparent
}

.e_AllWBox-001 {
    width: 490px;
    height: 39px;
    background-color: rgba(77, 144, 203, 1)
}

.w_bbox-001 .p_wbox {
    background-color: rgba(255, 255, 255, 1)
}

.w_bbox-001 .w_bbox-001 .p_wbox {
    margin-top: 20px
}

.w_bbox-001 {
    position: absolute;
    width: 100%;
    height: 120px
}

#w_bbox-1496211966664 .p_wbox {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 41px;
    background-image: url(./../img/26.jpg);
    background-repeat: repeat-x;
}

#w_bbox-1496211966664 .p_MatteIcon .iconfont:before {
    content: '\e602'
}

#w_img-1496215969110 .p_link001 {
    height: calc(100%)
}

#w_img-1496215969110 .p_MatteIcon .iconfont:before {
    content: '\e602'
}

#w_img-1496215969110>div {
    animation-fill-mode: both
}

#w_img-1496215442061 .p_link001 {
    height: calc(100%)
}

#w_img-1496215442061 .p_MatteIcon .iconfont:before {
    content: '\e602'
}

#w_img-1496215442061>div {
    animation-fill-mode: both
}

#w_bbox-1496211966664 {
    position: absolute;
    left: -356px;
    z-index: 107;
    width: 1912px;
    height: 341px
}

#w_common_text-1496215755636 {
    position: absolute;
    top: 153px;
    left: 874px;
    z-index: 101;
    width: 172px;
    height: 48px
}

#w_img-1496215969110 {
    position: absolute;
    top: 185px;
    left: 812px;
    z-index: 102;
    width: 292px;
    height: 37px
}

#w_common_text-1496216132965 {
    position: absolute;
    top: 346px;
    left: 699px;
    z-index: 104;
    width: 507px;
    height: 32px
}

#w_common_text-1496214305472 {
    position: absolute;
    top: 61.9063px;
    left: 721px;
    z-index: 105;
    width: 470px;
    height: 32px
}

#w_img-1496215442061 {
    position: absolute;
    top: 64px;
    left: 747px;
    z-index: 100;
    width: 412px;
    height: 13px
}

#w_common_text-1496216071103 {
    position: absolute;
    top: 240.938px;
    left: 732px;
    z-index: 103;
    width: 454px;
    height: 19px
}